[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
narrenschiff = {editable = true,path = "."}
sphinx = "*"
sphinx-rtd-theme = "*"

[packages]
click = "*"
pyyaml = "*"
jinja2 = "*"

[requires]
python_version = "3.6"
