[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
narrenschiff = {path = ".",editable = true}
sphinx = "*"
sphinx-rtd-theme = "*"
ipdb = "*"
coverage = "*"

[packages]
click = "*"
pyyaml = "*"
jinja2 = "*"
cryptography = "*"
colorlog = "*"

[requires]
python_version = "3.6"
